<div class="section-configure">
    <div class="key-value-section">
        <span class="bold-label">Range</span>
        <div class="btn-group">
            <button class="btn btn-sm dropdown-toggle" data-toggle="dt_dropdown">{{ internalRange.selectedRange.label }}<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="range in dictionary"><a ng-click="selectRangeOption(range)">{{ range.label }}</a></li>
            </ul>
        </div>
    </div>
    <div class="key-value-section" ng-hide="hideTimeUnit">
        <span class="bold-label">Time Unit</span>
        <span class="label-text" ng-hide="internalRange.selectedRange.timeUnits.length > 1">{{ internalRange.timeUnit }}</span>
        <div class="btn-group" ng-show="internalRange.selectedRange.timeUnits.length > 1">
            <button class="btn btn-sm dropdown-toggle" data-toggle="dt_dropdown">{{ internalRange.timeUnit }}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="unit in internalRange.selectedRange.timeUnits" ng-click="selectTimeUnit(unit)"><a>{{ unit }}</a></li>
            </ul>
        </div>
    </div>
</div>