<div class="time-picker">
    <div>
        <a ng-click="incrementHours()" class="arrow-button">
            <span class="arrow-up"></span>
        </a>
        <a ng-click="incrementMinutes()" class="arrow-button">
            <span class="arrow-up"></span>
        </a>
    </div>
    <div>
        <input type="text" class="time-input" ng-model="hours" ng-change="changeHours()" maxlength="2" ng-class="{ 'has-error': invalidHours }"/>
        <span>:</span>
        <input type="text" class="time-input" ng-model="minutes" ng-change="changeMinutes()" maxlength="2" ng-class="{ 'has-error': invalidMinutes }"/>
    </div>
    <div>
        <a ng-click="decrementHours()" class="arrow-button">
            <span class="arrow-down"></span>
        </a>
        <a ng-click="decrementMinutes()" class="arrow-button">
            <span class="arrow-down"></span>
        </a>
    </div>
</div>