<div class="date-time-picker">
    <div>
        <div class="main-label-container">
            <a class="main-date-time-label" ng-class="configuring ? 'configuring' : 'closed'" ng-click="configure()">
                <span class="dt-lighter">{{ range.from | date: 'EEE' }}</span>
                <span class="dt-bolder">{{ range.from | date: 'd MMM yyyy' }}</span>
                <span class="dt-lighter">{{ range.from | date: 'H:mm' }}</span>
                <span class="dt-bolder">&nbsp;&ndash;&nbsp;</span>
                <span class="dt-lighter">{{ range.to | date: 'EEE' }}</span>
                <span class="dt-bolder">{{ range.to | date: 'd MMM yyyy' }}</span>
                <span class="dt-lighter">{{ range.to | date: 'H:mm' }}</span>
                <span class="dt-lighter">{{ threeLetterTimezoneLabel }}</span>
            </a>
        </div>
        <button class="btn-refresh btn btn-sm" href="" ng-click="refresh()"><i class="icon-refresh"></i></button>
        <div class="clearboth"></div>
    </div>
    <div class="date-time-configure" ng-show="configuring">
        <div class="sections">
            <absolute-panel
                    ng-show="absoluteMode"
                    observer="observer"
                    dictionary="dictionary"
                    hide-time-unit="hideTimeUnit">
            </absolute-panel>
            <range-panel ng-hide="absoluteMode"
                    observer="observer"
                    dictionary="dictionary"
                    hide-time-unit="hideTimeUnit"></range-panel>
            <div class="date-range-selection" ng-hide="!absoluteMode && isTimeRange">
                <double-calendar
                        observer="observer"
                        max-range="maxRange"></double-calendar>
            </div>
            <div class="time-range-selection" ng-show="!absoluteMode && isTimeRange">
                <duration-panel
                        observer="observer"
                        dictionary="dictionary"></duration-panel>
                <single-calendar observer="observer"></single-calendar>
            </div>
        </div>
        <div class="bottom-section">
            <div class="button-section">
                <button class="btn btn-sm btn-save" ng-click="save()">Apply</button>
                <button class="btn btn-sm" ng-click="close()">Cancel</button>
            </div>
            <div class="selected-section">
                <span class="bold-label">Selected</span>
                <span class="label-text" ng-hide="absoluteMode">{{ internalRange.suggestedRange().from | date: 'EEE d MMM yyyy H:mm' }} &nbsp;&ndash;&nbsp; {{ internalRange.suggestedRange().to | date: 'EEE d MMM yyyy H:mm' }} {{ threeLetterTimezoneLabel }}</span>
                <span class="label-text" ng-show="absoluteMode">{{ internalRange.from | date: 'EEE d MMM yyyy H:mm' }} &nbsp;&ndash;&nbsp; {{ internalRange.to | date: 'EEE d MMM yyyy H:mm' }} {{ threeLetterTimezoneLabel }}</span>
            </div>
            <div class="clearboth"></div>
        </div>
    </div>
</div>