<div class="date-time-picker">
    <div>
        <div class="main-label-container">
            <a class="main-date-time-label" ng-class="configuring ? 'configuring' : 'closed'" ng-click="configuring = !configuring">
                <span class="dt-lighter">{{ range.from | date: 'EEE' }}</span>
                <span class="dt-bolder">{{ range.from | date: 'd MMM yyyy' }}</span>
                <span class="dt-lighter">{{ range.from | date: 'HH:mm' }}</span>
                <span class="dt-bolder">&nbsp;&ndash;&nbsp;</span>
                <span class="dt-lighter">{{ range.to | date: 'EEE' }}</span>
                <span class="dt-bolder">{{ range.to | date: 'd MMM yyyy' }}</span>
                <span class="dt-lighter">{{ range.to | date: 'HH:mm' }}</span>
                <span class="dt-lighter">{{ threeLetterTimezoneLabel }}</span>
            </a>
        </div>
        <button class="btn-refresh btn btn-sm" href="" ng-click="refresh()"><i class="icon-refresh"></i></button>
        <div class="clearfix"></div>
    </div>
    <div class="date-time-configure" ng-show="configuring">
        <div class="sections">
            <absolute-panel
                    ng-show="mode == 'absolute'"
                    observer="observer"
                    dictionary="dictionary"
                    hide-time-unit="hideTimeUnit"
                    single-date="singleDate">
            </absolute-panel>
            <range-panel ng-hide="mode == 'absolute'"
                    observer="observer"
                    dictionary="dictionary"
                    hide-time-unit="hideTimeUnit"
                    selected-from="selectedFrom"
                    selected-duration="selectedDuration"
                    single-date="singleDate"></range-panel>
            <div class="date-range-selection">
                <double-calendar
                        observer="observer"
                        max-range="maxRange"
                        single-date="singleDate"></double-calendar>
            </div>
        </div>
        <div class="bottom-section">
            <div class="button-section">
                <button class="btn-primary btn btn-sm" ng-click="save()">Apply</button>
                <button class="btn btn-sm btn-default" ng-click="configuring = false">Cancel</button>
            </div>
            <div class="selected-section">
                <span class="bold-label">Selected</span>
                <span class="label-text" ng-hide="mode == 'absolute'">{{ internalRange.suggestedRange().from | date: 'EEE d MMM yyyy HH:mm' }} &nbsp;&ndash;&nbsp; {{ internalRange.suggestedRange().to | date: 'EEE d MMM yyyy HH:mm' }} {{ threeLetterTimezoneLabel }}</span>
                <span class="label-text" ng-show="mode == 'absolute'">{{ internalRange.from | date: 'EEE d MMM yyyy HH:mm' }} &nbsp;&ndash;&nbsp; {{ internalRange.to | date: 'EEE d MMM yyyy HH:mm' }} {{ threeLetterTimezoneLabel }}</span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>