<div class="date-time-picker">
    <div>
        <div class="main-label-container">
            <a class="main-date-time-label" ng-class="configuring ? 'configuring' : 'closed'" ng-click="configure()">
                <span class="dt-lighter">{{ range.from | date: 'EEE' }}</span>
                <span class="dt-bolder">{{ range.from | date: 'd MMM yyyy' }}</span>
                <span class="dt-lighter">{{ range.from | date: 'H:mm' }}</span>
                <span class="dt-bolder">&nbsp;&ndash;&nbsp;</span>
                <span class="dt-lighter">{{ range.to | date: 'EEE' }}</span>
                <span class="dt-bolder">{{ range.to | date: 'd MMM yyyy' }}</span>
                <span class="dt-lighter">{{ range.to | date: 'H:mm' }}</span>
                <span class="dt-lighter">{{ threeLetterTimezoneLabel }}</span>
            </a>
        </div>
        <button class="btn-refresh btn btn-sm" href="" ng-click="refresh()"><i class="icon-refresh"></i></button>
        <div class="clearboth"></div>
    </div>
    <div class="date-time-configure" ng-show="configuring">
        <div class="sections">
            <div class="date-range-selection" ng-hide="isTimeRange">
                <div class="double-calendar-container"></div>
            </div>
            <div class="time-range-selection" ng-show="isTimeRange">
                <div class="single-calendar-container"></div>
                <div class="time-range-container">
                    <div class="key-value-section">
                        <span class="bold-label">From</span>
                        <div class="btn-group">
                            <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">{{ selectedFrom.label }}<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="hour in hours" ng-click="selectFrom(hour)"><a>{{ hour.label }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="key-value-section">
                        <span class="bold-label">Duration</span>
                        <div class="btn-group">
                            <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">{{ selectedDuration.label }}<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="duration in durations" ng-click="selectDuration(duration)"><a>{{ duration.label }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="key-value-section">
                        <span class="bold-label">To</span>
                        <span class="label-text to-value">{{ internalRangeObject.suggestedRange().to | date: 'H:mm' }}</span>
                    </div>
                </div>
            </div>
            <div class="section-configure">
                <div class="key-value-section">
                    <span class="bold-label">Range</span>
                    <div class="btn-group">
                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">{{ internalRangeObject.selectedRange.label }}<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="range in dictionary"><a ng-click="selectRangeOption(range)">{{ range.label }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="key-value-section">
                    <span class="bold-label">Time Unit</span>
                    <span class="label-text" ng-hide="internalRangeObject.selectedRange.timeUnits.length > 1">{{ internalRangeObject.timeUnit }}</span>
                    <div class="btn-group" ng-show="internalRangeObject.selectedRange.timeUnits.length > 1">
                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">{{ internalRangeObject.timeUnit }}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="unit in internalRangeObject.selectedRange.timeUnits" ng-click="selectTimeUnit(unit)"><a>{{ unit }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section">
            <div class="button-section">
                <button class="btn btn-sm btn-save" ng-click="save()">Apply</button>
                <button class="btn btn-sm" ng-click="close()">Cancel</button>
            </div>
            <div class="selected-section">
                <span class="bold-label">Selected</span>
                <span class="label-text">{{ internalRangeObject.suggestedRange().from | date: 'EEE d MMM yyyy H:mm' }} &nbsp;&ndash;&nbsp; {{ internalRangeObject.suggestedRange().to | date: 'EEE d MMM yyyy H:mm' }} {{ threeLetterTimezoneLabel }}</span>
            </div>
            <div class="clearboth"></div>
        </div>
    </div>
</div>